<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="rds.capella.ext.target-def">
	<locations>
		<location path="C:\work\atom\programs\capella-6.1.0.202303291413-clean\capella" type="Profile"/>
	</locations>
</target>